<form>
  <mat-form-field class="tags-list">
    <mat-label>{{ title }}</mat-label>
    <mat-chip-grid #chipGrid aria-label="tag selection">
      @for (tag of selectedTags(); track tag) {
      <mat-chip-row (removed)="remove(tag)">
        {{ tag }}
        <button matChipRemove [attr.aria-label]="'remove ' + tag">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input name="currentTag" placeholder="New Tag..." #tagInput [(ngModel)]="currentTag" [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); tagInput.value = ''">
      @for (tag of filteredTags(); track tag) {
      <mat-option [value]="tag">{{ tag }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>